<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NGO Charitables</title>
    <link rel="shortcut icon" href="~/assets/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/assets/images/fav.jpg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    

</head>
<body>
    <header class="continer-fluid " style="height:80px">
        <div class="header-top">
            <div class="container">
                <div class="row col-det">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/assets/images/logo.jpg" alt="" style="width:250px; margin-bottom:-25px; ">
                            <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-lg-none  small-menu fa-bars"></i></a>
                        </a>
                    </div>
                    <div style="margin-left:800px;" class="col-lg-4 d-none d-md-block col-md-3 btn-bhed">
                        <button style="margin-top: -50px;" class="btn btn-sm btn-success">@Html.ActionLink("Logout","Logout","admin")</button>
                    </div>

                </div>
            </div>
            </div>
            </header>
                        @RenderBody()
                    
     <p></p>

                    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
                    <script src="~/assets/js/popper.min.js"></script>
                    <script src="~/assets/js/bootstrap.min.js"></script>
                    <script src="~/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
                    <script src="~/assets/plugins/slider/js/owl.carousel.min.js"></script>
                    <script src="~/assets/js/script.js"></script>


</body>
</html>
