
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Charity</h2>
                <p>
                    NGO charitables is non-governmental organization. While there is no universally agreed-upon definition of an NGO, typically it is a voluntary group or institution with a social mission, which operates independently from the government.

                </p>
                <p>
                    Founded on the principles of empathy and solidarity, NGO Charitables is an unwavering beacon of hope, striving to uplift disadvantaged communities and promote positive change.

                </p>

                <p>
                    NGO Charitables is a dedicated non-profit organization committed to making a positive difference in the world. As a non-governmental organization, our mission is to address pressing social and humanitarian issues, driven by a deep sense of compassion and empathy. With a focus on providing aid, support, and resources to vulnerable communities, our initiatives span a wide range of causes, including education, healthcare, poverty alleviation, environmental conservation, and human rights advocacy.

                </p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                            <i class="fas fa-user"></i>
                            <p>Become a Volunteer</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-search-dollar red"></i>
                            <p>Quick Fundraise</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-donate yell"></i>
                            <p>Give Donation</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-hands-helping blu"></i>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ################# Mission Vision Start Here #######################--->

<section class="container-fluid mission-vision">
    <div class="container">
        <div class="row mission">
            <div class="col-md-6 mv-det">
                <h1>Our Mission</h1>
                <p>NGO Charitables' mission is to create positive change and uplift disadvantaged communities. We strive to provide aid, support, and resources for education, healthcare, environmental conservation, and human rights advocacy. Through collaboration and collective action, we aim to build a more equitable, sustainable, and inclusive world for all.</p>
            </div>
            <div class="col-md-6 mv-img">
                <img src="~/assets/images/misin.jpg" alt="">
            </div>
        </div>
        <div class="row vision">
            <div class="col-md-6 mv-img">
                <img src="~/assets/images/vision.jpg" alt="">
            </div>
            <div class="col-md-6 mv-det">
                <h1>Our Vision</h1>
                <p>
                   NGO Charitables envisions a world where every individual has access to education, healthcare, and basic human rights. We aspire to create a global community built on compassion, equality, and sustainable development, fostering a brighter and more hopeful future for generations to come. Through our unwavering dedication.
                </p>
            </div>
        </div>
    </div>
</section>


