
@{
    ViewBag.Title = "Sign_Up";
    Layout = "~/Views/_Layout.cshtml";
}

<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<div class="container-fluid" style="margin-left:400px">
    <br />
    <h1 style="margin-left:200px;">Sign Up</h1>
    <form>
        <label for="Name">Name</label>
        <input type="text" class="form-control" style="width:500px;" />


        <label for="Email">Email</label>
        <input type="text" class="form-control" style="width:500px;" />

        <label for="pwd">password</label>
        <input type="password" class="form-control" style="width:500px; " />


        <input type="submit" value="Sign Up" class="btn btn-success">


    </form>
    <br /><br />
</div>
